* {
  box-sizing: border-box;
  color: red;
  padding: 0;
  margin: 0;
}
body {
  width: 100%;
  max-width: 90%;
  margin: auto;
  text-align: center;
}

.container {
  max-width: 500px;
  text-align: center;
  margin: auto;
  margin-top: 50px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.col {
  width: calc(100% / 2.1);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.row {
  height: calc(100% / 3.5);
  /* padding: 10px; */
  width: 100%;
  border-radius: 10px;
  border: 1px solid blanchedalmond;
}

#image {
  height: 100%;
  background-color: blanchedalmond;
}

#tiny-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  padding: none;
  margin: none;
}

.box-tiny {
  width: calc(100% / 3.2);
  height: 100%;
  border-radius: 5px;
  background-color: blanchedalmond;
  border: 2px dotted pink;
}
